<a href="https://colab.research.google.com/github/MrKeeplearning/dap-course/blob/main/lecture/lecture3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH03. Statistics

## 2. Descriptive Statistics

### 2.1. Central Tendency

In [1]:
# Sample Data

# Import pandas library
import pandas as pd

# Create dataframe
sample_data = {'name': ['John', 'Alia', 'Ananya', "Steve", "Ben"],
               'gender': ['M', 'F', 'F', 'M', 'M'],
               'communication_skill_score': [40, 45, 23, 39, 39],
               'quantitative_skill_score': [38, 41, 42, 48, 32]}

data = pd.DataFrame(sample_data, columns = ['name', 'gender',
                                            'communication_skill_score',
                                            'quantitative_skill_score'])
data.head()

     name gender  communication_skill_score  quantitative_skill_score
0    John      M                         40                        38
1    Alia      F                         45                        41
2  Ananya      F                         23                        42
3   Steve      M                         39                        48
4     Ben      M                         39                        32

#### Mean

In [2]:
# find mean of communication_skill_score column
data['communication_skill_score'].mean(axis=0)

37.2

#### Median

In [3]:
# find median of communication_skill_score column
data['communication_skill_score'].median()

39.0

#### Mode

In [4]:
# find mode of communication_skill_score column
data['communication_skill_score'].mode()

0    39
dtype: int64

### 2.2. Dispersion

#### Range

In [5]:
max = data['communication_skill_score'].max()
min = data['communication_skill_score'].min()
column_range = max - min
print(column_range)

22

#### Interquartile Range(IQR)

In [6]:
# First Quartile
q1 = data['communication_skill_score'].quantile(.25)

# Third Quartile
q3 = data['communication_skill_score'].quantile(.75)

# Inter Quartile Ratio
iqr = q3 - q1
print(iqr)

1.0

#### Variance

In [7]:
# Variance of communication_skill_score
data['communication_skill_score'].var()

69.2

#### Standard Deviation

In [8]:
# Standard deviation of communication_skill_score
data['communication_skill_score'].std()

8.318653737234168

#### Skewness

In [9]:
# skewness of communication_skill_score column
data['communication_skill_score'].skew()

-1.704679180800373

#### Kurtosis

In [10]:
# kurtosis of communication_skill_score column
data['communication_skill_score'].kurtosis()

3.6010641852384015

### 2.3. Relationships between Attributes

#### Covariance

In [11]:
# Covariance between columns of dataframe
data.cov()

                           communication_skill_score  quantitative_skill_score
communication_skill_score                      69.20                     -6.55
quantitative_skill_score                       -6.55                     34.20

#### Correlation - Pearson

In [12]:
# Correlation between columns of dataframe
data.corr(method='pearson')

                           communication_skill_score  quantitative_skill_score
communication_skill_score                    1.00000                  -0.13464
quantitative_skill_score                    -0.13464                   1.00000

### 2.4. Statistical Hypothesis Test

#### One-sample t-test

* Null Hypothesis(귀무가설): Average score is 68
(is not significantly different with)
* Alternative Hypothesis(대조가설): Average score is not 68
(is significantly different with)

In [16]:
import numpy as np

score = np.array([63, 75, 84, 58, 52, 96, 63, 55, 76, 83])
score = np.append(score, score+.1)
score = np.append(score, score-.1)
score = np.append(score, score+.2)
score = np.append(score, score-.2)

mean_value = np.mean(score)

print("Mean:",mean_value)

Mean: 70.5

In [22]:
from scipy.stats import ttest_1samp

# 언더스코어는 값을 무시하기 위해 넣은 것이다.
# ttest_1samp의 return 값 중 statistic 값을 무시한다.
_, p_value = ttest_1samp(score, 68)
print("P Value:", p_value)

# 0.05 or 5% is significance level or alpha.
if p_value < 0.05:
  print("Hypothesis Rejected")
else:
  print("Hypothesis Accepted")

P Value: 0.02318407047763818
Hypothesis Rejected

#### Two-sample t-test

* Null Hypothesis(귀무가설): Two group means are equal
* Alternative Hypothesis(대조가설): Two group means are not equal

In [23]:
from scipy.stats import ttest_ind

class1_score = np.array([63, 75, 84, 58, 52, 96, 63, 55, 76, 83])
class2_score = np.array([53, 43, 31, 113, 33, 57, 27, 23, 24, 43])

# Compare samples
_, p = ttest_ind(class1_score, class2_score)

print("P Value:", p)

# 0.05 or 5% is significance level or alpha.
if p < 0.05:
  print("Hypothesis Rejected")
else:
  print("Hypothesis Accepted")

P Value: 0.015170931362451255
Hypothesis Rejected

#### Paired (related) sample t-test

* Null Hypothesis(귀무가설): Mean difference is 0.
* Alternative Hypothesis(대조가설): Mean difference is not 0.

In [24]:
# paired test
from scipy.stats import ttest_rel

# Weights before treatment
weightBefore = np.array([63, 75, 84, 58, 52, 96, 63, 65, 76, 83])

# Weights after treatment
weightAfter = np.array([53, 43, 67, 59, 48, 57, 65, 58, 64, 72])

# Compare weights
_, p = ttest_rel(weightBefore, weightAfter)

print("P Value:", p)

# 0.05 or 5% is significance level or alpha.
if p < 0.05:
  print("Hypothesis Rejected")
else:
  print("Hypothesis Accepted")

P Value: 0.013685575312467715
Hypothesis Rejected

#### Mann-Whitney U test

* Null Hypothesis(귀무가설): There is no difference between ranking of each group members.
* Alternative Hypothesis(대조가설): There is a difference between ranking of each group members.

In [26]:
from scipy.stats import mannwhitneyu

# Sample1
rate1 = [7, 8, 4, 9, 8]

# Sample2
rate2 = [3, 4, 2, 2, 1]

# Apply Test
stat, p = mannwhitneyu(rate1, rate2)
print("p-value:", p)

# 0.01 or 1% is significance level or alpha.
if p < 0.01:
  print("Hypothesis Rejected")
else:
  print("Hypothesis Accepted")

p-value: 0.007666581056801412
Hypothesis Rejected